<full-content (fullscreen)=true style="height: 100vh !important;overflow: hidden !important;">

  <!-- CABECERA -->
  <div class="panel-top" style="display: flex;justify-content: space-between;background-color: #15c393">
    <div id="logo_newsletter">
        <img height="39px" width="50%" src="../../assets/img/logo-horizontal.svg">
    </div>
    <div class="panel_devices">
      <h4>Landing Page</h4>
    </div>
    <div class="panel__basic-actions" style="background-color: #15c393 !important;"></div>
  </div>

  <div class="row" style="height:100%">
    <!-- PANEL IZQUIERDA  -->
    <div id="panel_left" class="column" style="flex-basis: 550px;">
      <div id="title_newsletter">Diseño Landing Page</div>
      <div id="button_back" style="display: none;">
        <div style="width: 50px;" (click)="go_back()">
          <img style="cursor: pointer;" src="../../assets/icon/volverflecha.svg" alt="Atrás" height="100%" width="70%">
        </div>
      </div>
      <div id="botones" style="background-color: white !important;"></div> <!-- BOTONES ESTRUCTURA - ELEMENTOS -->
      <!-- ESTILOS -->
      <div id="button_styles" style="display: none;">
        <div id="title_styles"></div>
        <div id="styles-container">
          <div id="contenido" style="display: none;">
            <div class="gjs-sm-sector no-select">
              <div class="gjs-sm-title" (click)="show_traits()"><i id="gjs-sm-caret"
                  class="fa fa-caret-right"></i>Contenido </div>
              <div id="traits-container" style="display: none;"></div>
            </div>
          </div>
        </div>
        <!--<div id="selector-container"></div> -->

        
      </div>

      <div id="blocks"></div> <!-- ESTRUCTURA + ELEMENTOS -->
    </div>

    <!-- Flecha Izquierda -->
    <div id="panel_flechaIzq">
      <button nz-button id="closeIzq" type="button" (click)="closePanel('left')"> <i class="fas fa-chevron-left"></i></button>
      <button nz-button id="openIzq" type="button" (click)="openPanel('left')" style="display: none;"> <i class="fas fa-chevron-right"></i></button>
    </div>


    <!-- CANVAS -->
    <div class="column editor-clm" style="overflow: hidden;">
      <div id="gjs">
      </div>
    </div>

    <!-- Flecha Derecha -->
   <div id="panel_flechaDer">
      <button nz-button id="closeDer" style="display:none" (click)="closePanel('right')"> <i class="fas fa-chevron-right"></i></button>
      <button nz-button id="openDer" type="button" (click)="openPanel('right')"> <i class="fas fa-chevron-left"></i></button>
    </div>

    <!-- CAPAS -->
    <div id="layers" class="column" style="flex-basis: 275px;height: 100% !important;background-color: white !important;box-shadow:rgb(204, 204, 204) -2px 6px 5px 2px;display: none !important">
      <div class="title_capas"> <i class="fas fa-layer-group"></i> Capas</div>
      <div id="layers-container"></div>
    </div>

  </div>
</full-content>


