<full-content (fullscreen)=true>
  <nz-header>
      <div class="logo">Google Drive file manager</div>
      <!-- <i class="fas fa-arrow-left back-icon" (click)="redirect()"></i> -->
      <i class="fas fa-chevron-circle-left back-icon" title="return to tree" (click)="redirect()"></i>
  </nz-header>
  <div class="form">
    <h4>To configure this functionality you must provide Google API credentials. You can obtain it on <a href="https://console.cloud.google.com/">https://console.cloud.google.com/</a>. You can get more info of how to configure this <a href="https://developers.google.com/drive/api/v3/about-sdk?hl=es">here.</a> </h4>
    <sf [schema]="schema" (formSubmit)="submit($event)"></sf>
    <div>Main Google Drive Account:<button nz-button nzType="primary" (click)="googleLogin()"><i class="fab fa-google"></i>&nbsp;&nbsp;Login with Google</button></div>
  </div>
</full-content>
