<!-- <div>
  <nz-form-label nzFor="planning_date_start">Fecha de inicio</nz-form-label>
  <nz-date-picker id="planning_date_start" [(ngModel)]="planningData.date_end"></nz-date-picker>
</div>
<div>
  <nz-form-label nzFor="planning_date_end">Fecha de fin</nz-form-label>
  <nz-date-picker id="planning_date_end" [(ngModel)]="planningData.date_end"></nz-date-picker>
</div>
<nz-form-item>
  <nz-form-label nzFor="planning_assigned_user">Usuario</nz-form-label>
  <nz-select id="planning_assigned_user" [(ngModel)]="planningData.assignedUser">
    <nz-option nzLabel="user 1" nzValue="user1"></nz-option>
  </nz-select>
</nz-form-item> -->
<sf [schema]="schema" [button]="null" #form></sf>
